/* ↓ Importation de la police ↓ */
@font-face {
    font-family: Nunito;
    src: url(../FONT/Nunito-VariableFont_wght.ttf);
}

/* ↓ Création de varible pour les couleurs ↓ */
:root{
    --police_color : #3498db;
    --background_color : #333333;
}

body{
    font-family: Nunito;
    color: var(--police_color);
    background-color: var(--background_color);
    margin: 0%;
    padding: 0%;
}

/*! ↓ Header ↓  */
header {
    display: flex;
    justify-content: center;
}

header .container_title{
    display: flex;
    align-items: center;
    width: 7%;
}

header svg{
    margin-right: 10%;
}

header a{
    text-decoration: none;
    color: var(--police_color);
}

/*! ↓ Main ↓ */
main{
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

main button{
    background-color: var(--police_color);
    color: var(--background_color);
    border: 0;
    width: 7%;
    border-radius: 10px;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
}

main input{
    width: 25%;
    height: 5vh;
    border: 0;
    outline: none;
    font-size: x-large;
    color: var(--police_color);
    margin-right: 1%;
    border-radius: 10px;
    padding-left: 0.7%;
}


.result{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.result .print{
    display: flex;
    flex-direction: column;
    margin-right: 5%;
}

.result .print a{
    color: var(--police_color);
    font-weight: bold;
}

#map{ 
    width: 20%; 
    height: 300px;
    outline: none;
    display: flex;
}



/* ↓ Error ↓ */
.error{
    display: flex;
    justify-content: center;
    color: red;
    font-weight: bold;
}

.error .bad_ip, .nothing{
    display: none;
}